In [111]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
file_path = '/Users/drmorsy/Downloads/Kaggle_Dataset/Osteoporosis Risk Prediction/osteoporosis.csv'

In [115]:
class preprocesser: 
    #this class reades, gives some insights about your data file, handels missing values and makes categorical data encoding.
    #after instantiating an object you must first call read method to make other methods in the class valid for use.
    def __init__(self):
        self.file_path = input("Write your file path")
    def reader(self):
        #This function takes files in xlsx, csv or json formate and read it and return the file formate.
        file_formate = self.file_path.split('.')[-1]
        if file_formate in  ('xlsx', 'csv', 'json'):
            print('type of this data is: {}.'.format(file_formate))
        else:
            return 'please enter file in xlsx, csv or json formate only'
        try:
            if file_formate == 'xlsx':
                self.df = pd.read_excel(self.file_path)
            elif file_formate == 'csv':        
                self.df = pd.read_csv(self.file_path)
            elif file_formate == 'json':        
                self.df = pd.read_json(self.file_path)    
            return self.df
        except:
            return 'we ahve no such file here.'

    def file_describer(self):
        #this function return the output of describe function on object and bool or int and float in tuple.
        #you can print out on of two outputs by indexing on function return value.
        object_bool = self.df.describe(include=[object, bool])
        int_float = self.df.describe()
        print(object_bool, 3*'\n', int_float)
        
    def calculate_mean_frequent(self):
        #this function gives mean of numeric column values and most frequent value of categorical columns
        columns_names = self.df.columns
        mean_list = []
        column_name_list_no=[]
        most_frequent = []
        column_name_list_ob = []
        for i in columns_names:
            if self.df[i].dtypes != 'object':
                column_name_list_no.append(i)
                mean_list.append(np.mean(self.df[i]))
            elif self.df[i].dtypes == 'object':
                column_name_list_ob.append(i)
                most_frequent.append(self.df[i].value_counts().idxmax())
        mean_df = pd.DataFrame(list(zip(column_name_list_no, mean_list)),columns=['Column_Name', 'Mean'])        
        M_F_df = pd.DataFrame(list(zip(column_name_list_ob, most_frequent)),columns=['Column_Name', 'Most_Frequent_Object'])        
        print(M_F_df,3*'\n',mean_df)

    def mean_or_mode(self,column, mean=True):
        #this function gives us mean of numeric column or mode of categorical column.
        try:
            if mean:
                print(self.df[column].mean())
            else:
                print(self.df[column].mode())
        except:
            print('Mode function handel object values only please set mean to False.')


    def handel_nan(self):
        return self.df.fillna(value=0)

    def categorical_data_incoder(self):
        object_index = []
        for i in self.df.columns:
            if self.df[i].dtype == 'object':
                object_index.append(self.df.columns.get_loc(i))
        ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), object_index )],
                         remainder='passthrough')
        return pd.DataFrame(ct.fit_transform(self.df))

In [116]:
df = preprocesser()

Write your file path /Users/drmorsy/Downloads/Kaggle_Dataset/Osteoporosis Risk Prediction/osteoporosis.csv

In [117]:
df.reader()
#read the data and get the file formate.

type of this data is: csv.

,Id,Age,Gender,Hormonal Changes,Family History,Race/Ethnicity,Body Weight,Calcium Intake,Vitamin D Intake,Physical Activity,Smoking,Alcohol Consumption,Medical Conditions,Medications,Prior Fractures,Osteoporosis
0,1734616,69,Female,Normal,Yes,Asian,Underweight,Low,Sufficient,Sedentary,Yes,Moderate,Rheumatoid Arthritis,Corticosteroids,Yes,1
1,1419098,32,Female,Normal,Yes,Asian,Underweight,Low,Sufficient,Sedentary,No,NaN,NaN,NaN,Yes,1
2,1797916,89,Female,Postmenopausal,No,Caucasian,Normal,Adequate,Sufficient,Active,No,Moderate,Hyperthyroidism,Corticosteroids,No,1
3,1805337,78,Female,Normal,No,Caucasian,Underweight,Adequate,Insufficient,Sedentary,Yes,NaN,Rheumatoid Arthritis,Corticosteroids,No,1
4,1351334,38,Male,Postmenopausal,Yes,African American,Normal,Low,Sufficient,Active,Yes,NaN,Rheumatoid Arthritis,NaN,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953,1991635,19,Female,Normal,Yes,African American,Normal,Adequate,Sufficient,Sedentary,Yes,Moderate,Rheumatoid Arthritis,NaN,Yes,0
1954,1528601,23,Female,Postmenopausal,Yes,Caucasian,Underweight,Low,Insufficient,Active,No,NaN,NaN,Corticosteroids,No,0
1955,1990957,34,Female,Postmenopausal,No,African American,Underweight,Low,Sufficient,Sedentary,No,NaN,Hyperthyroidism,NaN,No,0
1956,1779848,25,Male,Postmenopausal,No,African American,Normal,Low,Insufficient,Sedentary,Yes,NaN,Rheumatoid Arthritis,Corticosteroids,Yes,0
1957,1282963,26,Female,Postmenopausal,No,African American,Underweight,Adequate,Sufficient,Sedentary,Yes,NaN,Rheumatoid Arthritis,Corticosteroids,No,0

In [118]:
df.file_describer()
#gives output of describe method on each categrical and numerical columns.

       Gender Hormonal Changes Family History    Race/Ethnicity Body Weight  \
count    1958             1958           1958              1958        1958
unique      2                2              2                 3           2
top      Male           Normal             No  African American      Normal
freq      992              981            998               681        1027

       Calcium Intake Vitamin D Intake Physical Activity Smoking  \
count            1958             1958              1958    1958
unique              2                2                 2       2
top               Low       Sufficient            Active     Yes
freq             1004             1011              1021     982

       Alcohol Consumption Medical Conditions      Medications Prior Fractures
count                  970               1311              973            1958
unique                   1                  2                1               2
top               Moderate    Hyperthyroidism  Corticosteroids             Yes
freq                   970                678              973             983


                  Id          Age  Osteoporosis
count  1.958000e+03  1958.000000   1958.000000
mean   1.549929e+06    39.101124      0.500000
std    2.614250e+05    21.355424      0.500128
min    1.100064e+06    18.000000      0.000000
25%    1.319163e+06    21.000000      0.000000
50%    1.546028e+06    32.000000      0.500000
75%    1.775870e+06    53.000000      1.000000
max    1.999676e+06    90.000000      1.000000

In [120]:
df.calculate_mean_frequent()
#makes two dataframes, one for categrical column calculating the mode and one for numerical column calculating the mean.

            Column_Name Most_Frequent_Object
0                Gender                 Male
1      Hormonal Changes               Normal
2        Family History                   No
3        Race/Ethnicity     African American
4           Body Weight               Normal
5        Calcium Intake                  Low
6      Vitamin D Intake           Sufficient
7     Physical Activity               Active
8               Smoking                  Yes
9   Alcohol Consumption             Moderate
10   Medical Conditions      Hyperthyroidism
11          Medications      Corticosteroids
12      Prior Fractures                  Yes


     Column_Name          Mean
0            Id  1.549929e+06
1           Age  3.910112e+01
2  Osteoporosis  5.000000e-01

In [124]:
df.mean_or_mode('Age')    
#takes numerical column name as argument calculating the mean but if you will input categorical column you must set mean to False.
print('\n')
df.mean_or_mode('Vitamin D Intake', mean=False)

39.10112359550562


0    Sufficient
Name: Vitamin D Intake, dtype: object

In [125]:
df.handel_nan()
#handels missing values.

,Id,Age,Gender,Hormonal Changes,Family History,Race/Ethnicity,Body Weight,Calcium Intake,Vitamin D Intake,Physical Activity,Smoking,Alcohol Consumption,Medical Conditions,Medications,Prior Fractures,Osteoporosis
0,1734616,69,Female,Normal,Yes,Asian,Underweight,Low,Sufficient,Sedentary,Yes,Moderate,Rheumatoid Arthritis,Corticosteroids,Yes,1
1,1419098,32,Female,Normal,Yes,Asian,Underweight,Low,Sufficient,Sedentary,No,0,0,0,Yes,1
2,1797916,89,Female,Postmenopausal,No,Caucasian,Normal,Adequate,Sufficient,Active,No,Moderate,Hyperthyroidism,Corticosteroids,No,1
3,1805337,78,Female,Normal,No,Caucasian,Underweight,Adequate,Insufficient,Sedentary,Yes,0,Rheumatoid Arthritis,Corticosteroids,No,1
4,1351334,38,Male,Postmenopausal,Yes,African American,Normal,Low,Sufficient,Active,Yes,0,Rheumatoid Arthritis,0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953,1991635,19,Female,Normal,Yes,African American,Normal,Adequate,Sufficient,Sedentary,Yes,Moderate,Rheumatoid Arthritis,0,Yes,0
1954,1528601,23,Female,Postmenopausal,Yes,Caucasian,Underweight,Low,Insufficient,Active,No,0,0,Corticosteroids,No,0
1955,1990957,34,Female,Postmenopausal,No,African American,Underweight,Low,Sufficient,Sedentary,No,0,Hyperthyroidism,0,No,0
1956,1779848,25,Male,Postmenopausal,No,African American,Normal,Low,Insufficient,Sedentary,Yes,0,Rheumatoid Arthritis,Corticosteroids,Yes,0
1957,1282963,26,Female,Postmenopausal,No,African American,Underweight,Adequate,Sufficient,Sedentary,Yes,0,Rheumatoid Arthritis,Corticosteroids,No,0

In [126]:
df.categorical_data_incoder()
#Categorical Data Encoding

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1734616.0,69.0,1.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1419098.0,32.0,1.0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1797916.0,89.0,1.0
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1805337.0,78.0,1.0
4,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1351334.0,38.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1991635.0,19.0,0.0
1954,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1528601.0,23.0,0.0
1955,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1990957.0,34.0,0.0
1956,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1779848.0,25.0,0.0
1957,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1282963.0,26.0,0.0